<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">我是一只 <span id="js-rotating">简单的，快乐的</span>程序猿</h4>
  </div>
  <div class="user-content">
    <p>
      我们用代码编写梦想，用梦想改变世界。
    </p>
    <p>
      你我皆凡人，生在人世间，终日奔波苦，一刻不得闲。（你）既然不是仙，难免有杂念，道义放两旁，(把)利字摆中间。多少男子汉，一怒为红颜，多少同林鸟，已成（了）分飞燕。人生何其短，何必苦苦恋。爱人不见了，向谁去喊冤？
      问你何时曾看见，这世界为了人们改变，有了梦寐以求的容颜，是否就算是拥有春天?
    </p>
    <p>愿我们在漫长时光里，有温暖，有人爱，有所期待......</p>
  </div>
</div>